$main-bg-color: #f5f7fb;
$main-blue-bg: #4d5b9e;

$light-blue-bg: #d6dbf5;
$green-bg: #94d7a2;
$pink-bg: #f7d9db;

$main-text-blue: #293264;
$light-blue-text: #29326487;
$white-text-color: #f5f7fb;

$tablet: 795px;
